Repository salesforce/sfai-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, absolufy-imports, nbstripout

black:
  name: black
  entry: black
  language: system

absolufy-imports:
  name: absolufy-imports
  description: Automatically convert relative imports to absolute
  entry: absolufy-imports
  language: system

nbstripout:
  name: nbstripout
  description: strip output from Jupyter and IPython notebooks
  entry: nbstripout
  language: system

updated ReadMe
  .strata.yml
  README.md
Due: none

update docs
  Makefile
  docs/SFAI_notebook.ipynb
  docs/api/README.md
  docs/api/modules.md
  docs/api/overview.md
  docs/changelog.md
  docs/cli/README.md
  docs/cli/commands.md
  docs/cli/overview.md
  docs/contributing.md
  docs/core-architecture.md
  docs/faq.md
  docs/getting-started/README.md
  docs/getting-started/installation.md
  docs/getting-started/quickstart.md
  docs/images/arc.jpeg
  docs/index.md
  docs/javascripts/extra.js
  docs/javascripts/tablesort.js
  docs/stylesheets/extra.css
  docs/usecases/heroku-deployment.ipynb
  docs/usecases/local-deployment.ipynb
  mkdocs.yml
  pyproject.toml
  sfai/cli/config/__init__.py
  sfai/cli/platform/__init__.py
Due: black, absolufy-imports, nbstripout

added env support for platforms
  .github/copilot-instructions.md
  sfai/app/context.py
  sfai/app/delete.py
  sfai/app/deploy.py
  sfai/app/init.py
  sfai/app/logs.py
  sfai/app/open.py
  sfai/app/status.py
  sfai/cli/app/delete.py
  sfai/cli/app/deploy.py
  sfai/cli/app/logs.py
  sfai/cli/app/open.py
  sfai/cli/app/status.py
  sfai/cli/platform/init.py
  sfai/cli/platform/switch.py
  sfai/context/manager.py
  sfai/context/models.py
  sfai/platform/init.py
  sfai/platform/providers/eks/platform.py
  sfai/platform/providers/heroku/platform.py
  sfai/platform/providers/heroku/utils/deploy.py
  sfai/platform/providers/minikube/platform.py
  sfai/platform/switch.py
Due: black, absolufy-imports

removed .github folder
  .github/copilot-instructions.md
Due: none

added SDK Terms of Use
  README.md
  TERMS OF USE
Due: none

updated environment support
  sfai/app/delete.py
  sfai/app/deploy.py
  sfai/app/logs.py
  sfai/app/open.py
  sfai/app/status.py
  sfai/app/utils/helpers.py
  sfai/cli/app/delete.py
  sfai/cli/app/deploy.py
  sfai/cli/app/logs.py
  sfai/cli/app/open.py
  sfai/cli/app/status.py
  sfai/cli/platform/init.py
  sfai/platform/init.py
  sfai/platform/providers/heroku/platform.py
Due: black, absolufy-imports

updated contributing guide
  CONTRIBUTING.md
Due: none

publish to pypi
  .github/workflows/deploy.yaml
Due: none

fix: Actions workflow for PyPI deploy
  .github/workflows/deploy.yaml
Due: none

pypi fix
  .github/workflows/deploy.yaml
Due: none

added twine in git workflow
  .github/workflows/deploy.yaml
Due: none

GitHub Pages workflow for MkDocs documentation
  .github/workflows/docs.yaml
Due: none

update GitHub Actions
  .github/workflows/docs.yaml
Due: none

remove strict mode from mkdocs build to allow warnings
  .github/workflows/docs.yaml
Due: none

updated docs
  README.md
  docs/getting-started/README.md
  docs/getting-started/installation.md
  docs/index.md
  pyproject.toml
Due: none

update repository URLs to point to salesforce/sfai-sdk
  mkdocs.yml
Due: none

updated docs styling
  docs/index.md
  mkdocs.yml
Due: none

added heroku env support
  sfai/constants.py
  sfai/platform/providers/heroku/platform.py
  sfai/platform/providers/heroku/utils/deploy.py
Due: black, absolufy-imports

Add comprehensive environment testing and fix existing test failures
  .github/workflows/ci.yaml
  .pre-commit-config.yaml
  sfai/platform/providers/eks/platform.py
  sfai/platform/providers/minikube/utils/deploy.py
  tests/unit/test_python_apis.py
Due: black, absolufy-imports

Fix CI workflow Python version matrix
  .github/workflows/ci.yaml
Due: none

Enhance CI workflow with pytests
  .github/workflows/ci.yaml
Due: none

added openapi auto generate functionality
  sfai/core/agentforce/__init__.py
  sfai/core/agentforce/decorators.py
  sfai/core/agentforce/generator.py
  sfai/core/templates/fastapi_hello/app.py
  sfai/core/templates/fastapi_hello/openapi.yaml
  sfai/core/templates/fastapi_hello/requirements.txt
  sfai/integrations/mulesoft/agentforce_utils.py
  sfai/integrations/mulesoft/publish.py
  sfai/platform/providers/local/platform.py
Due: black, absolufy-imports

added openapi auto generate functionality
  sfai/core/templates/fastapi_hello/app.py
Due: black, absolufy-imports

added openapi auto generate functionalityv1
  pyproject.toml
  sfai/core/agentforce/decorators.py
  sfai/core/agentforce/generator.py
  sfai/integrations/mulesoft/agentforce_utils.py
Due: black, absolufy-imports

added openapi auto generate functionalityv2
  sfai/app/open.py
  sfai/core/agentforce/decorators.py
  sfai/core/agentforce/generator.py
  sfai/core/templates/fastapi_hello/requirements.txt
  sfai/integrations/mulesoft/core.py
  sfai/integrations/mulesoft/utils.py
Due: black, absolufy-imports

mulesoft apispec automation
  sfai/core/agentforce/generator.py
  sfai/core/agentforce/helper.py
  sfai/core/templates/fastapi_hello/app.py
  sfai/integrations/mulesoft/core.py
  sfai/integrations/mulesoft/publish.py
  sfai/integrations/mulesoft/publish_cli.py
Due: black, absolufy-imports

mulesoft apispec automation and added test cases
  tests/unit/test_python_apis.py
Due: black, absolufy-imports

mulesoft apispec automation and added test cases
  docs/SFAI_notebook.ipynb
  docs/usecases/heroku-deployment.ipynb
  sfai/constants.py
  sfai/core/templates/fastapi_hello/app.py
  sfai/platform/providers/heroku/platform.py
  sfai/platform/providers/heroku/utils/deploy.py
  tests/unit/test_python_apis.py
Due: black, absolufy-imports, nbstripout

Update heroku-deployment.ipynb
  docs/usecases/heroku-deployment.ipynb
Due: nbstripout

Update local-deployment.ipynb
  docs/usecases/local-deployment.ipynb
Due: nbstripout

Upload required SECURITY.md file for compliance
  SECURITY.md
Due: none

Path conditions:
  black: any of: \.py$
  absolufy-imports: any of: \.py$, but not: ^doc/
  nbstripout: any of: \.ipynb$, but not: ^doc/
